<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Cart</title>
</head>
<body>

<header th:replace="common::message"></header>
<p><a href="/create">Create new product</a></p>
<p><a href="/viewListCart">List cart product</a></p>

<form  th:object="${listProduct}">

    <table border="1">
        <tr>
            <td>Product Code</td>
            <td>Product Name</td>
            <td>Buy</td>
            <td>Delete</td>
        </tr>
        <th:block th:each="product : ${listProduct}">

            <tr>
                <td th:text="${product.codeProduct}"></td>
                <td th:text="${product.name}"></td>
                <td><a th:href="@{/buyProduct/{id}(id=${product.id})}">Buy</a></td>
                <td><a th:href="@{/delete/{id}(id=${product.id})}">Delete</a></td>
            </tr>
        </th:block>
    </table>
</form>
</body>
</html>