<div class="integrated-statistics">
  <div class="p-2 mx-auto bg-light">
    <button class="btn mr-1" routerLink="">Tổng hợp</button>
    <button class="btn mr-1" routerLink="/chart-statistic-date-month-year">Thống kê vé</button>
    <button class="btn" routerLink="/chart-statistic-revenue">Thống kê doanh thu</button>
    <button class="btn" routerLink="/customer-vehicle-statistics">Thống kê số lượng xe của khách hàng</button>
    <button class="btn" routerLink="/customer-registered-statistics">Thống kê số lượng khách hàng</button>
  </div>
  <div class="p-5 mr-0">
    <router-outlet></router-outlet>
  </div>
</div>
