<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create customer</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        p {
            margin-top: 20px;
            margin-bottom: 2px;
            font-style: italic;
            font-weight: bold;
            color: #000003;
        }
    </style>
</head>
<body>
<header th:replace="~{common::headerFurama}"></header>

<th:block th:replace="~{common::menuFragment}"></th:block>

<form action="/save-service" method="post" th:object="${service}">
    <div class="container-fluid">
        <p>Id</p>
        <input class="col-3" type="text" th:field="*{id}"/>

        <p>Customer Name</p>
        <input class="col-3" type="text" th:field="*{serviceName}"/>

        <p>Area</p>
        <input class="col-3" type="text" th:field="*{serviceArea}">

        <p>Cost</p>
        <input class="col-3" type="text" th:field="*{serviceCost}">

        <p>Max People</p>
        <input class="col-3" type="text" th:field="*{serviceMaxPeople}">

        <p>Standard Room</p>
        <input class="col-3" type="text" th:field="*{standardRoom}">

        <p>Description Other Convenience</p>
        <input class="col-3" type="text" th:field="*{descriptionOtherConvenience}">

        <p>Pool Area</p>
        <input class="col-3" type="text" th:field="*{poolArea}">

        <p>Number Of Floors</p>
        <input class="col-3" type="text" th:field="*{numberOfFloors}">

        <p>Service Type</p>
        <select th:field="*{serviceType}" class="col-3">
            <option th:each="serviceType : ${listServiceType}"
                    th:value="${serviceType.serviceTypeId}" th:text="${serviceType.serviceTypeName}"></option>
        </select>
        <p>Rent Type</p>
        <select th:field="*{rentType}" class="col-3">
            <option th:each="rentType : ${listRentType}"
                    th:value="${rentType.rentTypeId}" th:text="${rentType.rentTypeName}"></option>
        </select>
        <br>
        <br>
        <input class="col-1" type="submit" value="Save"/>

    </div>
</form>
<footer th:replace="~{/common::footerFurama}"></footer>
</body>
</html>
