<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create contract</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        p {
            margin-top: 20px;
            margin-bottom: 2px;
            font-style: italic;
            font-weight: bold;
            color: #000003;
        }
    </style>
</head>
<body>
<header th:replace="~{common::headerFurama}"></header>

<th:block th:replace="~{common::menuFragment}"></th:block>

<form action="/save-contract" method="post" th:object="${contract}">
    <div class="container-fluid">
        <p>Id</p>
        <input class="col-3" type="text" th:field="*{contractId}"/>

        <p>Contract Start Date</p>
        <input class="col-3" type="date" th:field="*{contractStartDate}"/>

        <p>Contract End Date</p>
        <input class="col-3" type="date" th:field="*{contractEndDate}">

        <p>Contract Deposit</p>
        <input class="col-3" type="text" th:field="*{contractDeposit}">

        <p>Contract Total Money</p>
        <input class="col-3" type="text" th:field="*{contractTotalMoney}">

        <p>Customer Name</p>
        <select th:field="*{customer}" class="col-3">
            <option th:each="customer: ${listCustomer}"
                    th:value="${customer.id}" th:text="${customer.customerName}"></option>
        </select>

        <p>Service Name</p>
        <select th:field="*{service}" class="col-3">
            <option th:each="service: ${listService}"
                    th:value="${service.id}" th:text="${service.serviceName}"></option>
        </select>

        <p>Employee Name</p>
        <select th:field="*{employee}" class="col-3">
            <option th:each="employee : ${listEmployee}"
                    th:value="${employee.employeeId}" th:text="${employee.employeeName}"></option>
        </select>

        <br>
        <br>
        <input class="col-1" type="submit" value="Save"/>

    </div>
</form>
<footer th:replace="~{/common::footerFurama}"></footer>
</body>
</html>
