<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Common</title>
</head>
<body>

<!-- Header -->
<th:block th:fragment="headerFurama">
    <nav class="navbar navbar-expand-lg bg-light">
        <a class="navbar-brand" href="#">
            <img src="https://wikiland.vn/images/FuramaPhuQuoc/logo-furama-resort-phu-quoc.png"
                 width="120" height="60" alt="Logo">
        </a>
    </nav>
</th:block>

<th:block th:fragment="menuFragment">
            <nav class="navbar navbar-expand-lg navbar-dark bg-secondary ">
                <a class="navbar-brand" href="/home">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="/home-customer">Customer</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/services?action=create">Employee</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/services?action=create">Service</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/services?action=create">Contract</a>
                        </li>

                    </ul>
                    <!--                <form class="form-inline my-2 my-lg-0">-->
                    <!--                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
                    <!--                    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>-->
                    <!--                </form>-->
                </div>
            </nav>
</th:block>

<!-- Footer -->
<th:block th:fragment="footerFurama">
    <footer class="page-footer font-small blue" style="background-color: antiquewhite">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Design by Nguyễn Quang Danh
        </div>
    </footer>
</th:block>
</body>
</html>